#icones
	{position: relative;
	width: 400px;
	height:0px;
	left:760;
	top:-185px;
	}

#g {position:relative;
	
	left:0px;
	width:40px;
	height:40px;
	}
#f {position:relative;
	
	left:0px;
	width:43px;
	height:43px;
	}
#tw {position:relative;
	
	left:0px;
	width:40px;
	height:40px;
	}
#yt {position:relative;
	
	left:0px;
	width:40px;
	height:40px;
	}
	

