#textos2
	{position: relative;
	width: 1020px;
	height:400px;
	left:0;
	top:0px;
	
	
	}

#bia  {position:relative;
	left:36px;
	width:200px;
	height:80px;
	
	}
#gui {position:relative;
	top: -80px;
	left:330px;
	width:200px;
	height:80px;

	
	}
#jhou {position:relative;
	top: -160px;
	left:560px;
	width:200px;
	height:80px;

	}
#luis {position:relative;
	top: -240px;
	left:815px;
	width:200px;
	height:80px;
	
	}
	

